{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

<style>
    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-green-bg);
        --bs-btn-border-color: var(--bd-green-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #388e3c;
        --bs-btn-hover-border-color: #388e3c;
        --bs-btn-focus-shadow-rgb: var(--bd-green-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #2e7d32;
        --bs-btn-active-border-color: #2e7d32;
    }

    /* Light theme background color */
    [data-bs-theme='light'] .btn-bd-primary {
        background-color: #c4c4c4;
    }

    /* Dark theme background color */
    [data-bs-theme='dark'] .btn-bd-primary {
        background-color: #343a40;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }

    .custom-left-column {
        height: 100%;
        margin: 10px;
    }

    .center-column {
        margin-top: 10px;
    }

    .custom-right-column {
        height: 100%;
        margin: 10px;
    }
</style>
{% endblock %}

{% block content %}
<!--FEED DIV-->
<div id="main-window" class="container-fluid">
    <div class="row d-flex justify-content-center">
        <!--Left column start-->
        {% include "leftcol.html" %}
        <!--Center column start-->
        <div class="center-column col-lg-5 col-md-8">
            <div class="row text-center">
                <div class="col">
                    <a class="
                        btn
                        btn-primary
                        " href="{{ url_for('add_new_post') }}" id="create-post">
                        <span>New Post</span>
                    </a>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div id="feed-posts" class="row justify-content-center home-feed">
                <!--Content for center column goes here -->
                {% for post in posts %}
                    {{ macros.generate_post(post=post, current_user=current_user, macros=macros) }}
                {% endfor %}
            </div>
        </div>
        <!--Right column start-->
        {% include "rightcol.html" %}
    </div>
    {{ macros.modal() }}
    {{ macros.color_theme() }}
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/posts-dynamic-loading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>
    {% endblock %}