<div class="col-lg-2 col-md-3 d-none d-md-block">
    <div class="row">
        <div class="custom-left-column col-12">
            <!-- Content for left column goes here -->
            <div class="row mx-md-auto profile-rows">
                <div class="col-3 profile-picture-div d-flex justify-content-center">
                    <img class="avatar" src="{{ url_for('static', filename='assets/avatar.jpg') }}">
                </div>
                <!--User Profile-->
                <div class="col-9 d-flex justify-content-left align-items-center">
                    <span>Mateus Tum</span>
                </div>
            </div>
            <div class="row mx-md-auto quick-access">
                <!-- Communities -->
                <!-- Communities Icon -->
                <div class="col-3 profile-picture-div d-flex justify-content-center">
                    <img class="avatar" src="{{ url_for('static', filename='assets/avatar.jpg') }}">
                </div>
                <!-- Communities Link-->
                <div class="col-9 d-flex justify-content-left align-items-center">
                    <span>Communities</span>
                </div>

                <!-- Friends -->
                <!-- Friends Icon -->
                <div class="col-3 profile-picture-div d-flex justify-content-center">
                    <img class="avatar" src="{{ url_for('static', filename='assets/avatar.jpg') }}">
                </div>
                <!-- Friends Link -->
                <div class="col-9 d-flex justify-content-left align-items-center">
                    <span>Friends</span>
                </div>
            </div>
            <div class="row mx-md-auto inner-left-column-row">
            <!-- Chat -->
            <!-- Chat Icon -->
            <div class="col-3 profile-picture-div d-flex justify-content-center">
                <img class="avatar" src="{{ url_for('static', filename='assets/avatar.jpg') }}">
            </div>
            <!-- Chat Link -->
            <div class="col-9 d-flex justify-content-left align-items-center">
                <span>Chat</span>
            </div>

            <!-- Show Post -->
            <!-- Post Icon -->
            <div class="col-3 profile-picture-div d-flex justify-content-center">
                <img class="avatar" src="{{ url_for('static', filename='assets/avatar.jpg') }}">
            </div>
            <!-- Post Link -->
            <div class="col-9 d-flex justify-content-left align-items-center">
                <a href="{{ url_for('show_post', post_id=1) }}">Post</a>
            </div>
        </div>
        </div>
    </div>
</div>