{% extends "base.html" %}

{% block styles %}

{% endblock %}

{% block content %}
    <!--Main div-->
    <div id="main-window" class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="row justify-content-center">
                    <!-- Post Title -->
                    <div id="full-post-title" class="col-12">

                    </div>

                    <!-- Post Content -->
                    <div id="full-post-content" class="col-12">

                    </div>

                    <!-- Post Comments -->
                    <div id="full-post-comments" class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}