{% extends "base.html" %}
{% block title %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block styles %}
<style>
    .profile-header {
      position: relative;
      text-align: center;
      padding: 20px;
      color: #fff;
      overflow: hidden;
    }

    .background-img {
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      width: 100%;
      z-index: -1;
      opacity: 0.8; /* Set initial opacity */
      transition: opacity 0.5s ease; /* Add fading transition */
    }

    .profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid #212529;
    }

    .profile-name {
      margin-top: 10px;
      font-size: 24px;
    }

    .profile-feed-container {
        padding: 0px;
        margin-left: 10px;
    }

    .feed {
        padding: 0px;
    }

    h1 {
      font-weight: 700;
    }

    .profile-personal-info {
        background-color: #343a40;
        border-radius: 10px;
        padding: 10px;
        margin-right: 10px;
    }

    .profile-info-container {
        margin-top: 10px;
    }

    .fade-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 200px; /* Adjust the height of the fade effect as needed */
      background: linear-gradient(to bottom, transparent, black); /* Set the background color to black */
      pointer-events: none; /* Allow clicks to go through the overlay to the image */
      z-index: -1;
    }

</style>

{% endblock %}

{% block content %}
  <div class="row justify-content-around align-items-center">
      <img src="{{ url_for('static', filename='assets/bg.jpg') }}" class="background-img">
      <div class="fade-overlay"></div>
      <div class="container-flex col-lg-8 col-md-8">
          <div class="profile-header">
<!--          <img src="{{ url_for('static', filename='assets/bg.jpg') }}" class="background-img">-->
        <img src="{{ current_user.profile.profile_image_path }}" alt="Profile Picture" class="img-fluid profile-picture">
        <h1 class="profile-name">{{ user.first_name }} {{ user.last_name }}
          {% if current_user == user %}
          <a class="btn" href="{{ url_for('edit_profile') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
          </a>
          {% endif %}
        </h1>
      </div>
          <div class="container d-flex justify-content-around">
              <div class="profile-info-container container-flex row col-3 justify-content-center">
              <div class="profile-personal-info row col-12">
                <p>aaa</p>
              </div>
          </div>
              <div class="profile-feed-container container-flex row col-9 justify-content-center">
                <div id="profile-feed" class="feed">
              <!-- feed content goes here -->
              {% import "macros.html" as macros %}
              {% for post in posts %}
              <!-- Post -->
              <div class="post row justify-content-center">
                <!-- Post top div -->
                <div class="post-title d-flex col-12">
                    <!-- Profile picture -->
                    <div class="left-box">
                        <img class="post-avatar" src="{{ post.authors[0].profile.profile_image_path }}">
                    </div>
                    <!-- Post title and Author -->
                    <div class="middle-boxes">
                        <!-- Post title -->
                        <div class="middle-box">
                            <h5>{{ post.title }}</h5>
                        </div>
                        <!-- Post author -->
                        <div class="middle-box">
                            <span class="text-body-secondary">
                                {{ post.authors[0].username }} on {{ post.created_at }}
                            </span>
                        </div>
                    </div>
                    {% if post in current_user.posts %}
                    {{ macros.post_settings(post=post) }}
                    {% endif %}
                </div>
                {% if post.image %}
                    <!-- Post image div -->
                    <div class="post-image-content row col-12 justify-content-center">
                        <div id="post-{{ post.id }}-images-carousel" class="carousel slide">
                      <div class="carousel-indicators">
                          {% for image in post.get_post_images() %}
                        <button type="button" data-bs-target="#post-{{ post.id }}-images-carousel" data-bs-slide-to="{{ loop.index0 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                          {% endfor %}
                      </div>
                      <div class="carousel-inner">
                          {% for image in post.get_post_images() %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ url_for('static', filename=post.image + '/' + image) }}" class="d-block w-100" alt="Post Image">
                        </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#post-{{ post.id }}-images-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#post-{{ post.id }}-images-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    </div>
                {% endif %}
                <!-- Post content div -->
                <div class="post-content row col-12 justify-content-center">
                    <!-- Post content col -->
                    <!-- Post text -->
                    <div class="col-12 text-left">
                        <div>
                            {% if post.content|length > 400 %}
                            {{ post.content[:400]|safe }}...
                            <a class="read-more" href="{{ url_for('show_post', post_id=post.id) }}">Read More</a>
                            {% else %}
                            {{ post.content|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--Display likes, comments, awards-->
                <div class="post-interactions container col-12">
                    <div class="row text-center">
                        <div class="likes-div col-6">
                            <form method="POST" action="{{ url_for('like_post', post_id=post.id) }}">
                                <button type="submit" class="btn like-post-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                    <span class="likeCount">{{ post.get_post_likes() }} Likes</span>
                                </button>
                            </form>
                        </div>
                        <div class="comments-div col-6">
                            <a href="{{ url_for('add_new_comment', post_id=post.id) }}">
                                <button class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15" />
                                    </svg>
                                    {{ post.get_post_comments() }} Comments
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Post comments div-->
                {% if post.comments %}
                    <div class="d-flex post-comments row col-12">
                        {% for comment in post.comments %}
                        <!-- Post comment div-->
                        <div class="d-flex top-comments col-12 align-items-center">
                            <div class="d-flex comment-profile-pic col-2 align-items-center justify-content-center text-center">
                                <img class="avatar-comment" src="{{ comment.author[0].profile.profile_image_path }}" style="max-width: 100%; height: auto;">
                            </div>
                            <div class="d-flex row col-10">
                                <div class="col-12 mb-0">
                                    {{ comment.content|safe }}
                                </div>
                                <div class="col-12 mb-0">
                                    <p class="comment-date">
                                        {{ comment.author[0].username }} on {{ comment.created_at }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
              {% endfor %}
          </div>
              </div>
          </div>

    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile-dynamic-loading.js') }}"></script>
{% endblock %}